<!--<div class="container"> -->
    <div class="row">
        <div class="col-12">
            <div class="row  vh-100">
                <div class="col-2"></div>
                <div class="col-6">

                    <div class="card border border-dark mb-3 bg-transparent">
                        <div class="card-header bg-info">
                            <h4 class="text-white">Subunidad Organizativa</h4>
                        </div>
                        <div class="card-body bg-body">

                            <form [formGroup]= "formSubunidad" novalidate (ngSubmit)= "guardarSubunidadOrganizativa()">
                                <div class="form-group row">
                                    <label for="codigoGuarani" class="col-md-4 col-form-label text-md-left text-info">
                                        Codigo Guarani
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="codigoGuarani" name="codigoGuarani"
                                            formControlName="codigoGuarani" class="form-control">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label for="nombre" class="col-md-4 col-form-label text-md-left text-info">
                                        Nombre Sub-Unidad
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="nombre" name="nombre" formControlName="nombre"
                                            class="form-control">
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-left text-info">
                                        Unidad Organizativa</label>
                                    <div class="col-md-8">
                                        <select name="unidadOrganizativaId" id="unidadOrganizativaId"
                                            formControlName="unidadOrganizativaId" class="form-control">

                                            <option [ngValue]= "item.id" *ngFor= "let item of unidadesOrg">{{ item.nombre
                                                }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="card-footer border border-success">
                                    <input type="submit" class="btn btn-success mr-2" value="Guardar">
                                    <a href="" class="btn btn-secondary">Volver</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div> -->