<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar agentes" #input>
      </div>
    </div>
  </div>
</div>

<div class="row animate__animated animate__fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-between mb-3">
          <h3 class="card-title">
            Agentes Registrados (<small>{{ totalRegistros }}</small>)
          </h3>
          <button class="btn btn-primary btn-rounded" [routerLink]="['/agente', 'create' ]">
            <i class="fa fa-plus"></i>Crear agentes
          </button>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Documento</th>
              <th>Apellido y Nombre</th>
              <th>Legajo</th>
              <th>Email</th>
              <th>Telefono</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let agente of agentes" >
              <th >
                <div role="button" style="cursor: pointer;">
                   {{ agente.tipoDocId.nombre }} : {{ agente.documento}}
                </div>
              </th>
              <th>
                   {{ agente.apellido}} {{agente.nombre}}
              </th>
              <th>
                   {{ agente.legajo }}
              </th>
              <th>
                   {{ agente.email }}
              </th>
              <th>
                   {{ agente.telefono }}
              </th> 

              <th class="d-flex justify-content-center">
                <button class="btn btn-primary mr-3" [routerLink]="['/agente', agente.id ]">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </th>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>